.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social {
        width: 15vw;
        height: 100%;
        background: #0c0c0c;

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            padding: 0 22px;

            @media screen and (max-width: 767px) {
                justify-content: center;
            }

            > a {
                display: block;
                width: 24px;
                height: 24px;
                background-size: 100%;
                cursor: pointer;

                @media screen and (max-width: 767px) {
                    margin: 0 22px;
                }
    
                &.instagram {
                    background: url('../../assets/svg/instagram-icon.svg') no-repeat center;
                }
    
                &.twitter {
                    background: url('../../assets/svg/twitter-icon.svg') no-repeat center;
                }
            }
        }
    }

    .resume {
        width: 85vw;
        height: 100%;
        background: #FFF;
        display: flex;
        align-items: center;

        .container {
            width: 100%;
            justify-content: space-around;
            font-size: 22px;

            .title {
                font-weight: 800;
            }
        }
    }
}