*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}